<!--==============================
    Hero Area
    ==============================-->
        <section class="hero-wrapper hero-1">
            <div class="hero-slider1 overflow-hidden">
                <div class="tg-swiper__slider swiper-container" id="heroSlider1" data-swiper-options='{
                    "effect": "fade",
                    "slidesPerView": "1",
                    "autoHeight": "true"
                }'>

                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-background="assets/img/hero/hero-bg1-1.png">
                            <div class="hero-bg-shape1-1"></div>
                            <div class="hero-bg-shape1-2"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero-style1">
                                            <div class="sub-title" data-ani="slideinup" data-ani-delay="0.1s"><span>Welcome!</span> Start Growing Your Business Today</div>
                                            <h1 class="hero-title">
                                                <div class="title1" data-ani="slideinup" data-ani-delay="0.2s">Big Opportunity</div>
                                                <div class="title2" data-ani="slideinup" data-ani-delay="0.3s">For Your Business</div>
                                                <div class="title3" data-ani="slideinup" data-ani-delay="0.4s">Growth</div>
                                            </h1>
                                            <div class="tg-button-wrap" data-ani="slideinup" data-ani-delay="0.5s">
                                                <a href="contact.html" class="btn btn-three">
                                                    <span class="btn-text" data-text="Get Consultant"></span>
                                                </a>
                                                <a href="service.html" class="btn btn-four">
                                                    <span class="btn-text" data-text="Our Services"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-background="assets/img/hero/hero-bg1-2.png">
                            <div class="hero-bg-shape1-1"></div>
                            <div class="hero-bg-shape1-2"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero-style1">
                                            <div class="sub-title" data-ani="slideinup" data-ani-delay="0.1s"><span>Welcome!</span> Start Growing Your Business Today</div>
                                            <h1 class="hero-title">
                                                <div class="title1" data-ani="slideinup" data-ani-delay="0.2s">An Exclusive</div>
                                                <div class="title2" data-ani="slideinup" data-ani-delay="0.3s">Learning Journey</div>
                                                <div class="title3" data-ani="slideinup" data-ani-delay="0.4s">For Business</div>
                                            </h1>
                                            <div class="tg-button-wrap" data-ani="slideinup" data-ani-delay="0.5s">
                                                <a href="contact.html" class="btn btn-three">
                                                    <span class="btn-text" data-text="Get Consultant"></span>
                                                </a>
                                                <a href="service.html" class="btn btn-four">
                                                    <span class="btn-text" data-text="Our Services"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-background="assets/img/hero/hero-bg1-3.png">
                            <div class="hero-bg-shape1-1"></div>
                            <div class="hero-bg-shape1-2"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero-style1">
                                            <div class="sub-title" data-ani="slideinup" data-ani-delay="0.1s"><span>Welcome!</span> Start Growing Your Business Today</div>
                                            <h1 class="hero-title">
                                                <div class="title1" data-ani="slideinup" data-ani-delay="0.2s">Need A Custom</div>
                                                <div class="title2" data-ani="slideinup" data-ani-delay="0.3s">Plan? Ask About</div>
                                                <div class="title3" data-ani="slideinup" data-ani-delay="0.4s">Enterprise</div>
                                            </h1>
                                            <div class="tg-button-wrap" data-ani="slideinup" data-ani-delay="0.5s">
                                                <a href="contact.html" class="btn btn-three">
                                                    <span class="btn-text" data-text="Get Consultant"></span>
                                                </a>
                                                <a href="service.html" class="btn btn-four">
                                                    <span class="btn-text" data-text="Our Services"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-pagination2"></div>
                </div>
            </div>
        </section>
        <!--======== / Hero Section ========-->