<!--==============================
    Hero Area
    ==============================-->
<section class="hero-wrapper hero-1">
  <div class="hero-slider1 overflow-hidden">
    <div class="tg-swiper__slider swiper-container" id="heroSlider1">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-background="/img/hero/hero-bg1-1.png">
          <div class="hero-bg-shape1-1"></div>
          <div class="hero-bg-shape1-2"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6" style="margin-top:-110px;">
                <div class="hero-style1">
                  <h1 class="hero-title" style="font-size: 58px;">
                    <div
                      class="title1"
                      data-ani="slideinup"
                      data-ani-delay="0.2s"
                    >
                      Meet Your Extended
                    </div>
                    <div
                      class="title2"
                      data-ani="slideinup"
                      data-ani-delay="0.3s"
                    >
                      Team for Tax Season
                    </div>
                    <div
                      class="title3"
                      data-ani="slideinup"
                      data-ani-delay="0.4s"
                    >
                      Powered by <br />
                      Enrolled Agents.
                    </div>
                  </h1>
                  <div
                    class="sub-title"
                    data-ani="slideinup"
                    data-ani-delay="0.1s"
                  >
                    Scale your firm with our dedicated team of U.S. Enrolled
                    Agents, available on a flexible, contractual basis to handle
                    your overflow work with precision.
                  </div>
                  <div
                    class="tg-button-wrap"
                    data-ani="slideinup"
                    data-ani-delay="0.5s"
                  >
                    <a href="contact.html" class="btn btn-three">
                      <span class="btn-text" data-text="Get Consultant"></span>
                    </a>
                    <a href="service.html" class="btn btn-four">
                      <span class="btn-text" data-text="Our Services"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======== / Hero Section ========-->
