<!-- <Herosection /> -->
  <main class="fix">
    <!-- Hero Section -->
    <section
      class="hero-wrapper hero-3 overflow-hidden bg-cover"
      data-background="/img/hero/hero-bg3-1.png"
    >
      <div class="container">
        <div class="row gy-5 align-items-center">
          <div class="col-lg-6">
            <div class="hero-style3">
              <h1 class="hero-title">
                <span>Meet Your Extended Team for Tax Season - </span>Powered by
                Enrolled Agents.
              </h1>
              <div class="hero-text text-white">
                Scale your firm with our dedicated team of U.S. Enrolled Agents,
                available on a flexible, contractual basis to handle your
                overflow work with precision.
              </div>
              <div class="tg-button-wrap mt-40">
                <a href="/contact" class="btn btn-three">
                  <span class="btn-text" data-text="Book a Strategy call"
                  ></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-thumb3">
              <div class="img1">
                <img src="/img/hero/hero-3-1.png" alt="img" />
              </div>
              <div class="img2">
                <img src="/img/hero/hero-3-2.png" alt="img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>