<!--==============================
    Service Area
    ==============================-->
<section class="service-area-2 pt-120 pb-120 position-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="setion__title text-center mb-50">
          <span class="sub-title text-anim">Welcome to Ignitax </span>
          <h2 class="title text-anim2">
            We are your seamless, on-demand extension for tax season
          </h2>
        </div>
      </div>
    </div>
    <div class="row gy-30 justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="service-card style2">
          <div class="box-img image-anim">
            <img src="assets/img/service/service-img-2-1.jpg" alt="img" />
          </div>
          <div class="box-content">
            <div class="box-icon">
              <svg
                width="57"
                height="55"
                viewBox="0 0 57 55"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M36.0088 13.9465C37.5286 13.9465 38.765 12.7101 38.765 11.1904C38.765 9.67066 37.5286 8.43414 36.0088 8.43414C34.4891 8.43414 33.2527 9.67066 33.2527 11.1904C33.2527 11.8111 33.4591 12.3844 33.8067 12.8456L29.2782 19.1738C29.008 19.0851 28.7197 19.0364 28.4201 19.0364C27.6959 19.0364 27.0364 19.3176 26.544 19.776L23.5256 18.0632C23.5658 17.8763 23.5874 17.6824 23.5874 17.4837C23.5874 15.9639 22.351 14.7275 20.8313 14.7275C19.3115 14.7275 18.0751 15.9639 18.0751 17.4837C18.0751 17.6824 18.0967 17.8763 18.137 18.0632L15.1186 19.776C14.6262 19.3176 13.9667 19.0365 13.2425 19.0365C11.7228 19.0365 10.4864 20.273 10.4864 21.7927C10.4864 23.3125 11.7228 24.549 13.2425 24.549C14.7622 24.549 15.9987 23.3125 15.9987 21.7927C15.9987 21.594 15.977 21.4002 15.9368 21.2132L18.9552 19.5004C19.4476 19.9588 20.1071 20.24 20.8313 20.24C21.5555 20.24 22.2149 19.9588 22.7073 19.5005L25.7258 21.2133C25.6855 21.4003 25.6639 21.5941 25.6639 21.7928C25.6639 23.3126 26.9003 24.5491 28.4201 24.5491C29.9399 24.5491 31.1763 23.3126 31.1763 21.7928C31.1763 21.1721 30.9698 20.5987 30.6222 20.1374L35.1507 13.8092C35.4208 13.8978 35.7092 13.9465 36.0088 13.9465ZM36.0088 10.0878C36.6167 10.0878 37.1113 10.5824 37.1113 11.1904C37.1113 11.7983 36.6167 12.2929 36.0088 12.2929C35.4009 12.2929 34.9064 11.7983 34.9064 11.1904C34.9063 10.5824 35.4008 10.0878 36.0088 10.0878ZM13.2422 22.8951C12.6343 22.8951 12.1397 22.4005 12.1397 21.7925C12.1397 21.1845 12.6343 20.6899 13.2422 20.6899C13.8501 20.6899 14.3446 21.1845 14.3446 21.7925C14.3446 22.4005 13.8501 22.8951 13.2422 22.8951ZM20.8311 18.5861C20.2232 18.5861 19.7286 18.0916 19.7286 17.4836C19.7286 16.8757 20.2232 16.3811 20.8311 16.3811C21.439 16.3811 21.9335 16.8757 21.9335 17.4836C21.9336 18.0916 21.439 18.5861 20.8311 18.5861ZM28.4199 22.8951C27.812 22.8951 27.3175 22.4005 27.3175 21.7925C27.3175 21.1845 27.812 20.6899 28.4199 20.6899C29.028 20.6899 29.5225 21.1845 29.5225 21.7925C29.5225 22.4005 29.0278 22.8951 28.4199 22.8951Z"
                  fill="currentColor"></path>
                <path
                  d="M46.1705 40.8358H2.33887C1.96105 40.8358 1.65369 40.5285 1.65369 40.1507V6.0385C1.65369 5.66068 1.96105 5.35332 2.33887 5.35332H6.23672C6.69336 5.35332 7.06356 4.98322 7.06356 4.52647C7.06356 4.06973 6.69336 3.69963 6.23672 3.69963H2.33887C1.04921 3.69963 0 4.74884 0 6.0385V40.1507C0 41.4403 1.04921 42.4895 2.33887 42.4895H8.04001V44.3092C8.04001 45.3459 8.88339 46.1893 9.92003 46.1893H18.1966L14.3005 53.796C14.0924 54.2025 14.253 54.7007 14.6595 54.9089C14.7801 54.9708 14.9089 55 15.0358 55C15.3362 55 15.626 54.8357 15.7723 54.5499L20.0546 46.1893H29.1964L33.4787 54.5499C33.6251 54.8357 33.9148 55 34.2152 55C34.3421 55 34.4709 54.9706 34.5915 54.9089C34.998 54.7007 35.1587 54.2025 34.9505 53.796L31.0544 46.1893H39.331C40.3676 46.1893 41.211 45.346 41.211 44.3092V42.4895H46.1705C46.6272 42.4895 46.9974 42.1194 46.9974 41.6627C46.9974 41.2059 46.6272 40.8358 46.1705 40.8358ZM39.5573 44.3092C39.5573 44.434 39.4558 44.5356 39.331 44.5356H9.92003C9.79523 44.5356 9.6937 44.434 9.6937 44.3092V42.4895H39.5573V44.3092Z"
                  fill="currentColor"></path>
                <path
                  d="M9.54409 5.35332H46.912C47.2898 5.35332 47.5972 5.66068 47.5972 6.0385V13.9002C47.5972 14.357 47.9674 14.7271 48.4241 14.7271C48.8807 14.7271 49.2509 14.357 49.2509 13.9002V6.0385C49.2509 4.74884 48.2017 3.69963 46.912 3.69963H29.2146V2.07439C29.2146 0.930585 28.284 0 27.1401 0H22.1109C20.9671 0 20.0364 0.930585 20.0364 2.07439V3.69963H9.54409C9.08745 3.69963 8.71725 4.06973 8.71725 4.52647C8.71725 4.98322 9.08745 5.35332 9.54409 5.35332ZM21.6901 2.07439C21.6901 1.84243 21.8788 1.65369 22.1109 1.65369H27.1401C27.3721 1.65369 27.5609 1.84243 27.5609 2.07439V3.69963H21.6902L21.6901 2.07439Z"
                  fill="currentColor"></path>
                <path
                  d="M11.565 28.7761C11.1084 28.7761 10.7382 29.1462 10.7382 29.603V36.9092C10.7382 37.366 11.1084 37.736 11.565 37.736H14.9195C15.3761 37.736 15.7463 37.366 15.7463 36.9092V29.603C15.7463 29.1462 15.3761 28.7761 14.9195 28.7761H11.565ZM14.0926 36.0825H12.3919V30.4299H14.0926V36.0825Z"
                  fill="currentColor"></path>
                <path
                  d="M19.1538 24.5506C18.6971 24.5506 18.3269 24.9207 18.3269 25.3775V36.9093C18.3269 37.3661 18.6971 37.7362 19.1538 37.7362H22.5082C22.9649 37.7362 23.3351 37.3661 23.3351 36.9093V25.3775C23.3351 24.9207 22.9649 24.5506 22.5082 24.5506H19.1538ZM21.6815 36.0825H19.9807V26.2043H21.6815V36.0825Z"
                  fill="currentColor"></path>
                <path
                  d="M26.7427 28.7761C26.286 28.7761 25.9158 29.1462 25.9158 29.603V36.9092C25.9158 37.366 26.286 37.736 26.7427 37.736H30.0971C30.5538 37.736 30.924 37.366 30.924 36.9092V29.603C30.924 29.1462 30.5538 28.7761 30.0971 28.7761H26.7427ZM29.2703 36.0825H27.5695V30.4299H29.2703V36.0825Z"
                  fill="currentColor"></path>
                <path
                  d="M34.3315 33.6552C33.8749 33.6552 33.5047 34.0253 33.5047 34.482V36.9093C33.5047 37.3661 33.8749 37.7362 34.3315 37.7362H37.686C38.1426 37.7362 38.5128 37.3661 38.5128 36.9093C38.5128 36.4526 38.1426 36.0825 37.686 36.0825H35.1584V34.482C35.1584 34.0253 34.7882 33.6552 34.3315 33.6552Z"
                  fill="currentColor"></path>
                <path
                  d="M56.0242 41.6135L51.2806 33.3973C52.4824 32.1164 53.3576 30.5512 53.825 28.8067C54.5721 26.0185 54.1887 23.1061 52.7454 20.6062C49.7659 15.4452 43.1433 13.671 37.9827 16.6504C32.822 19.6298 31.0475 26.2524 34.0271 31.4131C35.4704 33.9131 37.8009 35.7012 40.5891 36.4485C41.5202 36.698 42.4649 36.8213 43.4037 36.8213C44.2241 36.8213 45.0398 36.727 45.8376 36.5402L50.5801 44.7566C51.1615 45.7639 52.22 46.3276 53.3073 46.3275C53.8401 46.3275 54.3799 46.192 54.8737 45.9071C55.8434 45.3474 56.4459 44.3037 56.4459 43.1834C56.4459 42.6345 56.3001 42.0918 56.0242 41.6135ZM41.0171 34.8511C38.6555 34.2183 36.6815 32.7037 35.459 30.5863C32.9355 26.2153 34.4385 20.6062 38.8094 18.0825C40.2473 17.2524 41.8187 16.8581 43.3707 16.8581C46.5364 16.8581 49.6198 18.5 51.3132 21.433C52.5356 23.5504 52.8603 26.017 52.2275 28.3787C51.5947 30.7404 50.0801 32.7141 47.9627 33.9366C45.8454 35.1592 43.3788 35.4837 41.0171 34.8511ZM54.0471 44.4748C53.3357 44.8856 52.4229 44.6411 52.0124 43.93L47.4496 36.0249C47.9069 35.8383 48.3547 35.62 48.7897 35.3689C49.2251 35.1175 49.6374 34.8377 50.0278 34.5347L54.592 42.4401C54.7229 42.6673 54.7922 42.9244 54.7922 43.1835C54.7922 43.7147 54.5066 44.2096 54.0471 44.4748Z"
                  fill="currentColor"></path>
                <path
                  d="M50.8831 28.339C51.4668 26.4587 51.3278 24.4456 50.4916 22.6706C50.2969 22.2574 49.8043 22.0804 49.3912 22.275C48.978 22.4696 48.801 22.9622 48.9957 23.3753C49.6553 24.7754 49.7648 26.364 49.3038 27.8485C48.8403 29.3413 47.8391 30.594 46.4845 31.3761C45.0511 32.2038 43.381 32.4234 41.7823 31.9951C40.1835 31.5667 38.8471 30.5413 38.0196 29.1079C36.3111 26.1488 37.3287 22.3515 40.2878 20.643C42.4514 19.394 45.1364 19.5609 47.1287 21.0682C47.4929 21.3438 48.0114 21.272 48.2869 20.9078C48.5624 20.5437 48.4906 20.0251 48.1264 19.7496C45.6028 17.84 42.2012 17.6286 39.4608 19.2108C37.6449 20.2592 36.3458 21.9522 35.8031 23.9776C35.2604 26.003 35.539 28.1186 36.5874 29.9346C37.6358 31.7507 39.3288 33.0496 41.3542 33.5925C42.0306 33.7737 42.717 33.8633 43.3988 33.8633C44.759 33.8633 46.1017 33.5066 47.3112 32.8082C49.0274 31.8175 50.2959 30.2304 50.8831 28.339Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <h3 class="box-title">
              <a href="service-details.html">Expertise <br/> Guaranteed</a>
            </h3>
            <p class="box-text">
              Every single tax return is handled by a U.S. Enrolled Agent. We
              guarantee the highest level of professional expertise and accuracy
              on every file you entrust to us.
            </p>
            <div class="tg-button-wrap justify-content-center">
              <a href="service-details.html" class="btn btn-six">
                <span class="btn-text" data-text="Get Consultant"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-card style2">
          <div class="box-img image-anim">
            <img src="assets/img/service/service-img-2-2.jpg" alt="img" />
          </div>
          <div class="box-content">
            <div class="box-icon">
              <svg
                width="56"
                height="55"
                viewBox="0 0 56 55"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M52.4776 15.7374C53.8752 15.7374 55.0121 14.5984 55.0121 13.1984V6.03481C55.0121 4.63475 53.8752 3.4958 52.4776 3.4958H51.1442C50.1023 3.4958 50.1023 5.10753 51.1442 5.10753H52.4776C52.9864 5.10753 53.4004 5.52357 53.4004 6.03481V13.1984C53.3531 14.4252 51.604 14.4295 51.5548 13.1984V10.2882C51.5548 9.58383 50.6756 9.22022 50.1782 9.7191L41.7282 18.191C41.2876 18.5412 40.8498 18.5377 40.4146 18.1808L27.114 4.42867C26.7332 4.10417 26.3499 4.10117 25.9642 4.41986L3.18482 27.2579C2.7503 27.6109 2.31578 27.6109 1.88137 27.2579C1.52034 26.8959 1.52034 26.307 1.88137 25.9451L25.9019 1.86248C26.3425 1.50672 26.7804 1.51015 27.2155 1.87258L40.5164 15.6247C40.8972 15.9493 41.2804 15.9522 41.6662 15.6336L48.944 8.337C49.4406 7.83897 49.0767 6.96209 48.3733 6.96209H45.3324C44.8235 6.96209 44.4095 6.54615 44.4095 6.03481C44.4095 5.52346 44.8235 5.10753 45.3324 5.10753H46.8477C47.8896 5.10753 47.8896 3.4958 46.8477 3.4958H45.3324C41.9703 3.63505 41.9707 8.43488 45.3324 8.57381H46.4312L41.1042 13.9145L28.3741 0.752106C27.4162 -0.238353 25.736 -0.253503 24.7608 0.72417L0.740266 24.8069C-0.246755 25.7964 -0.246755 27.4065 0.740266 28.396C1.70333 29.3617 3.36115 29.3637 4.32614 28.396L26.5258 6.13892L39.2562 19.3012C40.2208 20.2987 41.8899 20.3113 42.8695 19.3292L49.943 12.2373V13.1985C49.943 14.5984 51.0802 15.7374 52.4776 15.7374Z"
                  fill="currentColor"></path>
                <path
                  d="M49.0998 30.7998C48.8143 26.8724 37.7212 26.8125 34.5956 28.7656V22.4747C34.5956 19.721 28.5087 19.0724 26.5352 19.0724C24.5617 19.0724 18.4747 19.7927 18.4747 22.4747V37.0471C15.3072 35.078 4.39566 35.1677 3.97049 39.0813C3.97049 39.0813 3.96544 47.5087 3.96544 51.5976C3.96544 53.8313 8.02032 55 12.0259 55C14.9515 55 17.9014 54.3758 19.2805 53.1693C22.0541 55.6041 31.0161 55.6041 33.7897 53.1693C36.4384 55.7992 48.8299 55.8146 49.1046 51.5976C49.1048 51.5976 49.0998 30.829 49.0998 30.7998ZM32.984 26.6156C32.984 26.6156 32.5522 27.2781 31.3935 27.6929C28.4612 28.7423 24.6082 28.742 21.677 27.6929C20.5183 27.2781 20.0866 26.6156 20.0866 26.6156V24.5971C23.571 26.4984 29.4996 26.4984 32.984 24.5971V26.6156ZM22.2653 33.7525C23.2433 33.991 23.6465 32.4303 22.6471 32.1867C20.7313 31.7196 20.0866 31.0541 20.0866 30.8221V28.7378C23.571 30.6391 29.4996 30.6391 32.984 28.7378V30.8221C32.984 31.0185 32.5522 31.4847 31.3935 31.8994C30.1082 32.3593 28.3828 32.6127 26.5353 32.6127C25.4934 32.6127 25.4934 34.2244 26.5353 34.2244C28.9771 34.2244 31.4354 33.7894 32.984 32.9443V35.0286C32.984 35.225 32.5522 35.6911 31.3935 36.1058C28.4612 37.1553 24.6082 37.155 21.677 36.1058C20.5183 35.6911 20.0866 35.225 20.0866 35.0286V32.9565C20.6668 33.2723 21.3963 33.5406 22.2653 33.7525ZM47.4931 43.3102C47.4931 43.5066 47.0613 43.9728 45.9025 44.3874C42.9703 45.4369 39.1174 45.4365 36.1862 44.3874C35.0275 43.9728 34.5956 43.5066 34.5956 43.3102V41.2916C38.08 43.1929 44.0087 43.1929 47.493 41.2916L47.4931 43.3102ZM20.0866 41.2915C23.571 43.1928 29.4996 43.1928 32.984 41.2915V43.31C32.984 43.5065 32.5522 43.9727 31.3935 44.3873C28.4612 45.4368 24.6082 45.4365 21.677 44.3873C20.5183 43.9727 20.0866 43.5065 20.0866 43.31V41.2915ZM47.4931 39.1693C47.4931 39.3657 47.0613 39.8319 45.9025 40.2466C42.9703 41.296 39.1174 41.2956 36.1862 40.2466C35.0275 39.8319 34.5956 39.3657 34.5956 39.1693V37.1508C38.08 39.0521 44.0087 39.0521 47.493 37.1508L47.4931 39.1693ZM47.4931 35.0286C47.4931 35.225 47.0613 35.6911 45.9025 36.1058C42.9703 37.1553 39.1174 37.1549 36.1862 36.1058C35.0275 35.6911 34.5956 35.225 34.5956 35.0286V33.01C38.08 34.9113 44.0087 34.9113 47.493 33.01L47.4931 35.0286ZM20.0866 37.1508C23.571 39.0521 29.4996 39.0521 32.984 37.1508V39.1693C32.984 39.3657 32.5522 39.8319 31.3935 40.2466C28.4612 41.296 24.6082 41.2957 21.677 40.2466C20.5183 39.8319 20.0866 39.3657 20.0866 39.1693V37.1508ZM18.4748 43.3102C18.4748 43.5066 18.043 43.9728 16.8843 44.3874C13.952 45.4369 10.099 45.4366 7.16783 44.3874C6.00911 43.9728 5.57727 43.5066 5.57727 43.3102V41.2916C9.06171 43.1929 14.9903 43.1929 18.4747 41.2916L18.4748 43.3102ZM5.57738 45.4323C9.06182 47.3336 14.9904 47.3336 18.4748 45.4323V47.4508C18.4748 47.6472 18.043 48.1134 16.8843 48.5281C13.952 49.5775 10.099 49.5772 7.16783 48.5281C6.00911 48.1134 5.57727 47.6472 5.57727 47.4508L5.57738 45.4323ZM20.0866 45.4323C23.571 47.3336 29.4996 47.3336 32.984 45.4323V47.4508C32.984 47.6472 32.5522 48.1134 31.3935 48.5281C28.4612 49.5775 24.6082 49.5772 21.677 48.5281C20.5183 48.1134 20.0866 47.6472 20.0866 47.4508V45.4323ZM34.5957 45.4323C38.0801 47.3336 44.0088 47.3336 47.4931 45.4323V47.4508C47.4931 47.6472 47.0613 48.1134 45.9025 48.5281C42.9703 49.5775 39.1174 49.5771 36.1862 48.5281C35.0275 48.1134 34.5956 47.6472 34.5956 47.4508L34.5957 45.4323ZM36.1862 29.8106C38.6979 28.8665 43.3907 28.8665 45.9025 29.8106C47.0613 30.2252 47.4931 30.6914 47.4931 30.8878C47.4931 31.0842 47.0613 31.5504 45.9025 31.9651C44.6172 32.4251 42.8918 32.6785 41.0444 32.6785C39.1969 32.6785 37.4715 32.4251 36.1862 31.9651C35.0275 31.5504 34.5956 31.0842 34.5956 30.8878C34.5957 30.6914 35.0275 30.2253 36.1862 29.8106ZM21.677 21.3976C24.1888 20.4535 28.8816 20.4535 31.3935 21.3976C32.5522 21.8122 32.984 22.2784 32.984 22.4748C32.984 22.6713 32.5522 23.1374 31.3935 23.5521C28.4612 24.6016 24.6082 24.6012 21.677 23.5521C20.5183 23.1374 20.0866 22.6713 20.0866 22.4748C20.0866 22.2784 20.5183 21.8122 21.677 21.3976ZM7.16783 38.0921C10.1001 37.0427 13.9531 37.043 16.8843 38.0921C18.043 38.5069 18.4748 38.973 18.4748 39.1694C18.4748 39.3658 18.043 39.832 16.8843 40.2467C13.952 41.2961 10.099 41.2958 7.16783 40.2467C6.00911 39.832 5.57727 39.3658 5.57727 39.1694C5.57738 38.973 6.00911 38.5068 7.16783 38.0921ZM16.8843 52.6749C13.952 53.7244 10.099 53.7241 7.16783 52.6749C6.00911 52.2603 5.57727 51.7941 5.57727 51.5976V49.573C9.06171 51.4743 14.9903 51.4743 18.4747 49.573V51.5976C18.4748 51.7942 18.043 52.2603 16.8843 52.6749ZM31.3935 52.6749C28.4612 53.7244 24.6082 53.7241 21.677 52.6749C20.5183 52.2603 20.0866 51.7941 20.0866 51.5976V49.573C23.571 51.4743 29.4996 51.4743 32.984 49.573V51.5976C32.984 51.7942 32.5522 52.2603 31.3935 52.6749ZM45.9025 52.6749C42.9703 53.7244 39.1174 53.7239 36.1862 52.6749C35.0275 52.2603 34.5956 51.7941 34.5956 51.5976V49.573C38.08 51.4743 44.0087 51.4743 47.493 49.573V51.5976C47.4931 51.7942 47.0613 52.2603 45.9025 52.6749Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <h3 class="box-title">
              <a href="service-details.html">On-Demand <br/> Scalability</a>
            </h3>
            <p class="box-text">
              When tax season hits its peak, consider our team activated. We
              tackle your overflow work, allowing you to scale your practice
              instantly and meet every deadline with confidence.
            </p>
            <div class="tg-button-wrap justify-content-center">
              <a href="service-details.html" class="btn btn-six">
                <span class="btn-text" data-text="Get Consultant"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-card style2">
          <div class="box-img image-anim">
            <img src="assets/img/service/service-img-2-3.jpg" alt="img" />
          </div>
          <div class="box-content">
            <div class="box-icon">
              <svg
                width="52"
                height="55"
                viewBox="0 0 52 55"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.56994 25.1959H14.7164C15.3097 25.1959 15.7906 24.715 15.7906 24.1217C15.7906 23.5287 15.3097 23.0474 14.7164 23.0474H6.56994C5.9766 23.0474 5.49572 23.5287 5.49572 24.1217C5.49572 24.715 5.9766 25.1959 6.56994 25.1959Z"
                  fill="currentColor"></path>
                <path
                  d="M6.56994 30.3526H15.4327C16.0256 30.3526 16.5069 29.8713 16.5069 29.2783C16.5069 28.685 16.0256 28.2041 15.4327 28.2041H6.56994C5.9766 28.2041 5.49572 28.685 5.49572 29.2783C5.49572 29.8713 5.9766 30.3526 6.56994 30.3526Z"
                  fill="currentColor"></path>
                <path
                  d="M19.8642 30.3521C20.1466 30.3521 20.424 30.2384 20.6237 30.0374C20.8235 29.8377 20.9385 29.5616 20.9385 29.2779C20.9385 28.9955 20.8235 28.7181 20.6237 28.5184C20.424 28.3187 20.1466 28.2037 19.8642 28.2037C19.5818 28.2037 19.3045 28.3187 19.1047 28.5184C18.9037 28.7181 18.79 28.9955 18.79 29.2779C18.79 29.5616 18.9037 29.8377 19.1047 30.0374C19.3045 30.2384 19.5806 30.3521 19.8642 30.3521Z"
                  fill="currentColor"></path>
                <path
                  d="M29.8671 23.4188C35.08 23.4188 39.3206 19.1782 39.3206 13.9653C39.3206 8.75278 35.08 4.51172 29.8671 4.51172C24.6546 4.51172 20.4135 8.75278 20.4135 13.9653C20.4135 19.1782 24.6546 23.4188 29.8671 23.4188ZM29.8671 6.66058C33.895 6.66058 37.1722 9.93736 37.1722 13.9653C37.1722 17.9932 33.895 21.2704 29.8671 21.2704C25.8392 21.2704 22.5624 17.9932 22.5624 13.9653C22.5624 9.93736 25.8392 6.66058 29.8671 6.66058Z"
                  fill="currentColor"></path>
                <path
                  d="M50.5 29.447L49.2013 28.1483V13.5335C49.2013 10.5718 46.7915 8.16196 43.8298 8.16196H42.5684C40.3608 3.35022 35.4983 0 29.8671 0C24.2362 0 19.3733 3.35022 17.1661 8.16196H5.37151C2.40944 8.16196 0 10.5718 0 13.5335V40.6046C0 43.5667 2.40944 45.9761 5.37151 45.9761H19.2256V48.5568C16.3118 48.613 13.959 50.999 13.959 53.9258C13.959 54.5191 14.4398 55 15.0332 55H34.1602C34.7535 55 35.2344 54.5191 35.2344 53.9258C35.2344 50.999 32.8816 48.6134 29.9682 48.5568V45.9761H43.8298C46.7919 45.9761 49.2013 43.5667 49.2013 40.6046V35.4354C49.683 35.2554 50.1253 34.9734 50.5 34.5987C51.92 33.1783 51.92 30.8674 50.5 29.447ZM43.8298 10.3108C45.6069 10.3108 47.0529 11.7564 47.0529 13.5335V25.9999L41.9738 20.9208C43.1559 18.8718 43.8327 16.4964 43.8327 13.9653C43.8327 12.7014 43.6628 11.4761 43.3464 10.3108H43.8298ZM29.8671 2.14844C36.3829 2.14844 41.6839 7.44946 41.6839 13.9653C41.6839 20.4811 36.3829 25.7821 29.8671 25.7821C23.3513 25.7821 18.0502 20.4811 18.0502 13.9653C18.0502 7.44946 23.3513 2.14844 29.8671 2.14844ZM5.37151 10.3108H16.3881C16.0717 11.4761 15.9018 12.7014 15.9018 13.9653C15.9018 15.3282 16.099 16.6449 16.4645 17.8912H6.56994C5.9766 17.8912 5.49572 18.3721 5.49572 18.9654C5.49572 19.5583 5.9766 20.0396 6.56994 20.0396H17.2932C19.5567 24.7058 24.3424 27.9309 29.8671 27.9309C32.3978 27.9309 34.7732 27.2541 36.8222 26.0725L45.3484 34.5987C45.8259 35.0762 46.413 35.4043 47.0529 35.5608V36.5226H2.14844V13.5335C2.14844 11.7564 3.59444 10.3108 5.37151 10.3108ZM32.9021 52.8516H16.2916C16.7347 51.6007 17.9298 50.7027 19.3305 50.7027H29.8629C31.2635 50.7027 32.4586 51.6007 32.9021 52.8516ZM27.8197 48.5543H21.374V45.9761H27.8197V48.5543ZM43.8298 43.8277H5.37151C3.59444 43.8277 2.14844 42.3817 2.14844 40.6046V38.671H47.0529V40.6046C47.0529 42.3817 45.6069 43.8277 43.8298 43.8277ZM48.9806 33.0792C48.3982 33.6621 47.4498 33.6617 46.8674 33.0792L38.624 24.8354C39.4012 24.2085 40.1099 23.4998 40.7368 22.7227L48.9806 30.9665C49.563 31.5489 49.563 32.4968 48.9806 33.0792Z"
                  fill="currentColor"></path>
                <path
                  d="M29.8671 11.2801C31.3479 11.2801 32.5526 12.4849 32.5526 13.9653C32.5526 14.5586 33.0335 15.0395 33.6268 15.0395C34.2202 15.0395 34.701 14.5586 34.701 13.9653C34.701 11.2999 32.5325 9.1317 29.8671 9.1317C29.2737 9.1317 28.7928 9.613 28.7928 10.2059C28.7928 10.7993 29.2737 11.2801 29.8671 11.2801Z"
                  fill="currentColor"></path>
              </svg>
            </div>
            <h3 class="box-title">
              <a href="service-details.html">Support Without the Overhead </a>
            </h3>
            <p class="box-text">
              We provide special ized, contractual services designed to support
              CPA firms and tax businesses. Get the expert help you need without
              the cost and commitment of hiring permanent staff.
            </p>
            <div class="tg-button-wrap justify-content-center">
              <a href="service-details.html" class="btn btn-six">
                <span class="btn-text" data-text="Get Consultant"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======== / Service Section ========-->
