---
import MainLayout from "../layouts/MainLayout.astro"
---
<head>
    <title>Services | IGNITAX</title>
</head>
<MainLayout>
<main>
    <!-- Hero Section -->
<section class="breadcrumb__area fix" data-background="/img/bg/breadcrumb-bg.png">
    <div class="breadcrumb__bg-shape"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="breadcrumb__content">
                    <h3 class="title">Our Services</h3>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="breadcrumb-wrap">
                    <nav class="breadcrumb">
                        <span property="itemListElement" typeof="ListItem">
                            <a href="index.html">Home</a>
                        </span>
                        <span class="breadcrumb-separator">/</span>
                        <span property="itemListElement" typeof="ListItem">Our Services</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Area-->
<section class="service-area-1 pt-120 pb-120 position-relative">
    <div class="container">
        <div class="row gy-30 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-card style4">
                    <div class="box-content">
                        <div class="box-icon">
                            <svg width="62" height="60" viewBox="0 0 62 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M39.3394 15.2144C40.9997 15.2144 42.3504 13.8656 42.3504 12.2077C42.3504 10.5498 40.9997 9.20088 39.3394 9.20088C37.679 9.20088 36.3283 10.5498 36.3283 12.2077C36.3283 12.8848 36.5538 13.5102 36.9335 14.0134L31.9862 20.9169C31.691 20.8201 31.376 20.7669 31.0487 20.7669C30.2575 20.7669 29.537 21.0738 28.9991 21.5738L25.7015 19.7053C25.7455 19.5014 25.7691 19.2899 25.7691 19.0731C25.7691 17.4152 24.4183 16.0664 22.758 16.0664C21.0977 16.0664 19.7469 17.4152 19.7469 19.0731C19.7469 19.2899 19.7705 19.5014 19.8145 19.7053L16.5169 21.5738C15.979 21.0738 15.2585 20.7671 14.4673 20.7671C12.807 20.7671 11.4563 22.116 11.4563 23.7739C11.4563 25.4318 12.807 26.7807 14.4673 26.7807C16.1276 26.7807 17.4784 25.4318 17.4784 23.7739C17.4784 23.5571 17.4548 23.3456 17.4108 23.1416L20.7084 21.2732C21.2463 21.7732 21.9668 22.08 22.758 22.08C23.5492 22.08 24.2696 21.7732 24.8076 21.2733L28.1052 23.1418C28.0612 23.3457 28.0376 23.5572 28.0376 23.774C28.0376 25.4319 29.3884 26.7808 31.0487 26.7808C32.7091 26.7808 34.0599 25.4319 34.0599 23.774C34.0599 23.0968 33.8343 22.4713 33.4545 21.9681L38.4018 15.0646C38.6969 15.1612 39.012 15.2144 39.3394 15.2144ZM39.3394 11.0049C40.0035 11.0049 40.5438 11.5444 40.5438 12.2077C40.5438 12.8709 40.0035 13.4104 39.3394 13.4104C38.6752 13.4104 38.1349 12.8709 38.1349 12.2077C38.1348 11.5444 38.6751 11.0049 39.3394 11.0049ZM14.467 24.9765C13.8029 24.9765 13.2625 24.4369 13.2625 23.7737C13.2625 23.1104 13.8029 22.5709 14.467 22.5709C15.1311 22.5709 15.6714 23.1104 15.6714 23.7737C15.6714 24.4369 15.1311 24.9765 14.467 24.9765ZM22.7578 20.2758C22.0936 20.2758 21.5533 19.7363 21.5533 19.073C21.5533 18.4098 22.0936 17.8703 22.7578 17.8703C23.4219 17.8703 23.9622 18.4098 23.9622 19.073C23.9623 19.7363 23.4219 20.2758 22.7578 20.2758ZM31.0486 24.9765C30.3844 24.9765 29.8441 24.4369 29.8441 23.7737C29.8441 23.1104 30.3844 22.5709 31.0486 22.5709C31.7128 22.5709 32.2531 23.1104 32.2531 23.7737C32.2531 24.4369 31.7127 24.9765 31.0486 24.9765Z"
                                    fill="currentColor" />
                                <path
                                    d="M50.4409 44.5482H2.55519C2.14243 44.5482 1.80664 44.2129 1.80664 43.8007V6.58745C1.80664 6.17529 2.14243 5.83998 2.55519 5.83998H6.81356C7.31244 5.83998 7.71688 5.43624 7.71688 4.93797C7.71688 4.4397 7.31244 4.03596 6.81356 4.03596H2.55519C1.14625 4.03596 0 5.18055 0 6.58745V43.8007C0 45.2076 1.14625 46.3522 2.55519 46.3522H8.78364V48.3374C8.78364 49.4682 9.70503 50.3883 10.8376 50.3883H19.8797L15.6232 58.6866C15.3958 59.13 15.5713 59.6735 16.0154 59.9007C16.1471 59.9681 16.2878 60 16.4265 60C16.7547 60 17.0713 59.8208 17.2311 59.5089L21.9095 50.3883H31.8968L36.5752 59.5089C36.7351 59.8208 37.0517 60 37.3799 60C37.5185 60 37.6592 59.9679 37.7909 59.9007C38.235 59.6735 38.4106 59.13 38.1831 58.6866L33.9267 50.3883H42.9688C44.1013 50.3883 45.0227 49.4684 45.0227 48.3374V46.3522H50.4409C50.9398 46.3522 51.3442 45.9485 51.3442 45.4502C51.3442 44.9519 50.9398 44.5482 50.4409 44.5482ZM43.216 48.3374C43.216 48.4735 43.1051 48.5843 42.9688 48.5843H10.8376C10.7012 48.5843 10.5903 48.4735 10.5903 48.3374V46.3522H43.216V48.3374Z"
                                    fill="currentColor" />
                                <path d="M10.4268 5.83998H51.251C51.6638 5.83998 51.9996 6.17529 51.9996 6.58745V15.1639C51.9996 15.6622 52.404 16.0659 52.9029 16.0659C53.4018 16.0659 53.8062 15.6622 53.8062 15.1639V6.58745C53.8062 5.18055 52.66 4.03596 51.251 4.03596H31.9167V2.26297C31.9167 1.01518 30.9001 0 29.6503 0H24.156C22.9064 0 21.8896 1.01518 21.8896 2.26297V4.03596H10.4268C9.92797 4.03596 9.52352 4.4397 9.52352 4.93797C9.52352 5.43624 9.92797 5.83998 10.4268 5.83998ZM23.6963 2.26297C23.6963 2.00992 23.9025 1.80402 24.156 1.80402H29.6503C29.9038 1.80402 30.1101 2.00992 30.1101 2.26297V4.03596H23.6964L23.6963 2.26297Z" fill="currentColor" />
                                <path d="M12.6347 31.3922C12.1358 31.3922 11.7314 31.7959 11.7314 32.2942V40.2646C11.7314 40.7629 12.1358 41.1666 12.6347 41.1666H16.2994C16.7983 41.1666 17.2027 40.7629 17.2027 40.2646V32.2942C17.2027 31.7959 16.7983 31.3922 16.2994 31.3922H12.6347ZM15.3961 39.3627H13.538V33.1963H15.3961V39.3627Z" fill="currentColor" />
                                <path d="M20.9254 26.7825C20.4265 26.7825 20.022 27.1863 20.022 27.6845V40.2647C20.022 40.763 20.4265 41.1667 20.9254 41.1667H24.5901C25.0889 41.1667 25.4934 40.763 25.4934 40.2647V27.6845C25.4934 27.1863 25.0889 26.7825 24.5901 26.7825H20.9254ZM23.6869 39.3627H21.8288V28.5865H23.6869V39.3627Z" fill="currentColor" />
                                <path d="M29.2161 31.3922C28.7173 31.3922 28.3128 31.7959 28.3128 32.2942V40.2646C28.3128 40.7629 28.7173 41.1666 29.2161 41.1666H32.8809C33.3797 41.1666 33.7842 40.7629 33.7842 40.2646V32.2942C33.7842 31.7959 33.3797 31.3922 32.8809 31.3922H29.2161ZM31.9775 39.3627H30.1195V33.1963H31.9775V39.3627Z" fill="currentColor" />
                                <path d="M37.5069 36.7148C37.0081 36.7148 36.6036 37.1185 36.6036 37.6168V40.2647C36.6036 40.763 37.0081 41.1667 37.5069 41.1667H41.1716C41.6705 41.1667 42.075 40.763 42.075 40.2647C42.075 39.7664 41.6705 39.3627 41.1716 39.3627H38.4103V37.6168C38.4103 37.1185 38.0058 36.7148 37.5069 36.7148Z" fill="currentColor" />
                                <path
                                    d="M61.206 45.3966L56.0237 36.4334C57.3366 35.036 58.2927 33.3286 58.8034 31.4255C59.6196 28.3838 59.2007 25.2066 57.6239 22.4794C54.3688 16.8493 47.1337 14.9139 41.4958 18.1641C35.8577 21.4144 33.9192 28.639 37.1743 34.2689C38.7511 36.9961 41.2971 38.9468 44.3433 39.762C45.3605 40.0342 46.3926 40.1687 47.4182 40.1687C48.3145 40.1687 49.2057 40.0658 50.0772 39.862L55.2584 48.8254C55.8935 49.9243 57.05 50.5392 58.2378 50.5391C58.8199 50.5391 59.4096 50.3913 59.949 50.0805C61.0084 49.4699 61.6667 48.3313 61.6667 47.1092C61.6667 46.5104 61.5074 45.9183 61.206 45.3966ZM44.8108 38.0194C42.2308 37.3291 40.0743 35.6767 38.7387 33.3668C35.9818 28.5985 37.6238 22.4795 42.399 19.7264C43.9699 18.8208 45.6866 18.3907 47.3822 18.3907C50.8407 18.3907 54.2092 20.1818 56.0592 23.3815C57.3947 25.6913 57.7495 28.3822 57.0582 30.9586C56.3668 33.535 54.7121 35.6881 52.3988 37.0218C50.0857 38.3555 47.3909 38.7095 44.8108 38.0194ZM59.0461 48.518C58.2688 48.9661 57.2716 48.6994 56.8232 47.9236L51.8383 39.2999C52.3379 39.0963 52.8271 38.8582 53.3024 38.5842C53.778 38.31 54.2285 38.0048 54.655 37.6743L59.6413 46.2983C59.7844 46.5462 59.86 46.8267 59.86 47.1093C59.86 47.6887 59.5481 48.2286 59.0461 48.518Z"
                                    fill="currentColor" />
                                <path
                                    d="M55.5894 30.9153C56.2271 28.864 56.0752 26.6679 55.1617 24.7316C54.949 24.2808 54.4108 24.0877 53.9595 24.2999C53.5081 24.5123 53.3147 25.0497 53.5274 25.5003C54.248 27.0278 54.3676 28.7607 53.864 30.3802C53.3577 32.0087 52.2638 33.3753 50.7839 34.2285C49.2179 35.1314 47.3934 35.371 45.6468 34.9038C43.9002 34.4364 42.4401 33.3178 41.5361 31.7541C39.6696 28.5259 40.7813 24.3834 44.0141 22.5196C46.3778 21.1571 49.3112 21.3392 51.4877 22.9835C51.8856 23.2842 52.4521 23.2059 52.7531 22.8085C53.054 22.4113 52.9756 21.8455 52.5777 21.545C49.8206 19.4618 46.1045 19.2312 43.1107 20.9572C41.1267 22.101 39.7075 23.9478 39.1146 26.1574C38.5217 28.3669 38.826 30.6749 39.9714 32.6559C41.1168 34.6371 42.9664 36.0541 45.1791 36.6463C45.9181 36.844 46.6679 36.9418 47.4129 36.9418C48.8989 36.9418 50.3658 36.5526 51.6871 35.7907C53.5621 34.71 54.9479 32.9786 55.5894 30.9153Z"
                                    fill="currentColor" />
                            </svg>
                        </div>
                        <h3 class="box-title"><a href="#">Book Keeping</a></h3>
                        <p class="box-text">Keep your financial records accurate and organized for seamless operations.</p>
                        <br/>
                        
                    </div>
                    <div class="box-img image-anim">
                        <img src="/img/service/service-img-1-1.jpg" alt="img">
                        <!-- <div class="tg-button-wrap">
                            <a href="#" class="btn btn-three"> 
                                <span class="btn-text" data-text="Read More Details"></span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-card style4">
                    <div class="box-content">
                        <div class="box-icon">
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 1.17188V50.9053C0 51.5524 0.524766 52.0772 1.17188 52.0772H5.53219V55.9921C5.53219 56.6392 6.05695 57.1639 6.70406 57.1639H37.4269C39.7586 58.9422 42.6676 60 45.8196 60C51.3416 60 56.3343 56.7273 58.5387 51.6626C58.797 51.0691 58.5253 50.3787 57.9319 50.1204C57.3387 49.8625 56.648 50.1338 56.3897 50.7272C54.5575 54.9364 50.4086 57.6562 45.8196 57.6562C39.3995 57.6562 34.0993 52.1677 34.3035 45.7576C34.5009 39.632 39.6949 34.6107 45.8198 34.6107C50.3911 34.6107 54.6252 37.4074 56.421 41.6105C56.6753 42.2057 57.3638 42.4816 57.9591 42.2278C58.5543 41.9735 58.8307 41.2848 58.5764 40.6897C57.1775 37.4157 54.6229 34.885 51.5077 33.4853V28.8853H55.8586C56.3161 28.8853 56.7319 28.6191 56.9231 28.2033C57.1145 27.7876 57.0463 27.2986 56.7486 26.951L46.9915 15.5602V6.70289C46.9915 6.05578 46.4667 5.53102 45.8196 5.53102H41.6106V1.17188C41.6106 0.524766 41.0858 0 40.4387 0H1.17188C0.524766 0 0 0.524766 0 1.17188ZM50.3357 26.5417C49.6886 26.5417 49.1638 27.0664 49.1638 27.7136V32.6726C46.9808 32.1313 44.6588 32.1314 42.4758 32.6726V27.7136C42.4758 27.0664 41.951 26.5417 41.3039 26.5417H38.3278L45.8198 17.7953L53.3118 26.5417H50.3357ZM44.6476 15.5607L34.8907 26.9513C34.593 27.2988 34.5248 27.7879 34.7162 28.2035C34.9075 28.6193 35.3232 28.8855 35.7807 28.8855H40.1317V33.4832C35.2208 35.6889 31.9743 40.6971 31.9536 46.0791C31.9412 49.2369 33.0258 52.3597 35.0085 54.8201H7.87594V7.87477H44.6475L44.6476 15.5607ZM2.34375 2.34375H39.2666V5.53102H6.70406C6.05695 5.53102 5.53219 6.05578 5.53219 6.70289V49.7333H2.34375V2.34375Z"
                                    fill="currentColor" />
                                <path d="M31.4893 19.7711H26.7986C26.1514 19.7711 25.6267 20.2958 25.6267 20.9429V25.9939H23.2847V17.5475C23.2847 16.9004 22.7599 16.3757 22.1128 16.3757H17.3053C16.6582 16.3757 16.1334 16.9004 16.1334 17.5475L16.1333 25.9939H13.7577V13.8619C13.7577 13.2148 13.2329 12.69 12.5858 12.69C11.9387 12.69 11.4139 13.2148 11.4139 13.8619V27.1657C11.4139 27.8128 11.9387 28.3376 12.5858 28.3376H31.4895C32.1366 28.3376 32.6613 27.8128 32.6613 27.1657V20.9428C32.6612 20.2957 32.1366 19.7711 31.4893 19.7711ZM18.477 25.9938L18.4771 18.7193H20.9408V25.9938H18.477ZM27.9704 25.9938V22.1147H30.3175V25.9938H27.9704Z" fill="currentColor" />
                                <path d="M30.3122 33.5392H12.5858C11.9387 33.5392 11.4139 34.0639 11.4139 34.7111C11.4139 35.3582 11.9387 35.8829 12.5858 35.8829H30.3122C30.9593 35.8829 31.4841 35.3582 31.4841 34.7111C31.4841 34.0639 30.9593 33.5392 30.3122 33.5392Z" fill="currentColor" />
                                <path d="M27.353 40.2536H12.5858C11.9387 40.2536 11.4139 40.7783 11.4139 41.4254C11.4139 42.0725 11.9387 42.5973 12.5858 42.5973H27.353C28.0001 42.5973 28.5248 42.0725 28.5248 41.4254C28.5248 40.7783 28.0001 40.2536 27.353 40.2536Z" fill="currentColor" />
                                <path d="M26.3786 46.9679H12.5858C11.9387 46.9679 11.4139 47.4927 11.4139 48.1398C11.4139 48.7869 11.9387 49.3117 12.5858 49.3117H26.3786C27.0257 49.3117 27.5504 48.7869 27.5504 48.1398C27.5504 47.4927 27.0258 46.9679 26.3786 46.9679Z" fill="currentColor" />
                                <path
                                    d="M45.8502 54.5293C46.473 54.4889 46.944 53.944 46.944 53.3198V52.742C48.5605 52.3205 49.785 51.0348 50.0771 49.3314C50.4154 47.3597 49.3445 45.5762 47.4125 44.8932C45.9622 44.3807 45.0652 43.9624 44.5036 43.5367C44.1557 43.273 44.1687 42.8733 44.2072 42.6585C44.277 42.2715 44.5711 41.7555 45.1714 41.5747C46.4593 41.1868 47.2939 41.8871 47.3288 41.9173L47.4922 42.0514C48.0033 42.4707 48.7602 42.3825 49.1611 41.8568C49.5293 41.374 49.4659 40.6896 49.0154 40.2825L48.9038 40.1816C48.5327 39.8394 47.8437 39.4171 46.9441 39.2222V38.7863C46.9441 38.1621 46.4732 37.6171 45.8503 37.5768C45.1678 37.5325 44.6004 38.073 44.6004 38.7461V39.3011C44.5653 39.3108 44.5305 39.3199 44.4954 39.3305C43.1654 39.7311 42.147 40.8745 41.9006 42.2434C41.6764 43.4893 42.1202 44.6711 43.088 45.4045C43.8609 45.9903 44.9208 46.4984 46.6316 47.103C47.9 47.5513 47.8215 48.6187 47.7672 48.9352C47.6296 49.7372 46.9594 50.5465 45.7723 50.5465C44.737 50.5465 43.9891 50.3631 43.4865 49.9859C43.0077 49.6266 42.3204 49.6671 41.9112 50.1041C41.4286 50.6193 41.5062 51.4232 42.053 51.8402C42.7351 52.3605 43.5755 52.6833 44.6004 52.8176V53.3599C44.6002 54.033 45.1677 54.5736 45.8502 54.5293Z"
                                    fill="currentColor" />
                                <path d="M58.0655 45.0514C57.6057 45.2428 57.308 45.7212 57.3462 46.2192C57.3837 46.7075 57.7293 47.1309 58.202 47.2616C59.2008 47.5378 60.051 46.4188 59.5198 45.5311C59.2246 45.038 58.595 44.8342 58.0655 45.0514Z" fill="currentColor" />
                            </svg>
                        </div>
                        <h3 class="box-title"><a href="#">Month End Closing & Accounts Reconciliation</a></h3>
                        <p class="box-text">Ensure a smooth month-end process with precise reconciliation and timely reporting.</p>
                    </div>
                    <div class="box-img image-anim">
                        <img src="/img/service/service-img-1-2.jpg" alt="img">
                        <!-- <div class="tg-button-wrap">
                            <a href="#" class="btn btn-three">
                                <span class="btn-text" data-text="Read More Details"></span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-card style4">
                    <div class="box-content">
                        <div class="box-icon">
                            <svg width="66" height="60" viewBox="0 0 66 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M45.7109 5.59375H27.7781C27.0761 5.59375 26.5068 6.16292 26.5068 6.86506C26.5068 7.5672 27.0761 8.13637 27.7781 8.13637H45.7109C46.4129 8.13637 46.9822 7.5672 46.9822 6.86506C46.9822 6.16292 46.4129 5.59375 45.7109 5.59375Z" fill="currentColor" />
                                <path d="M13.0246 5.59363C12.6901 5.59363 12.3622 5.72966 12.1257 5.96613C11.8893 6.2026 11.7532 6.53061 11.7532 6.86498C11.7532 7.20061 11.8891 7.52735 12.1257 7.76382C12.3622 8.00029 12.6901 8.13632 13.0246 8.13632C13.359 8.13632 13.687 8.00029 13.9233 7.76382C14.1598 7.52735 14.2959 7.19934 14.2959 6.86498C14.2959 6.53061 14.1599 6.2026 13.9233 5.96613C13.687 5.72966 13.359 5.59363 13.0246 5.59363Z" fill="currentColor" />
                                <path d="M6.85226 5.59363C6.5179 5.59363 6.18989 5.72966 5.95355 5.96613C5.71708 6.2026 5.58091 6.53061 5.58091 6.86498C5.58091 7.19934 5.71695 7.52735 5.95355 7.76382C6.18989 8.00029 6.5179 8.13632 6.85226 8.13632C7.18803 8.13632 7.51464 8.00029 7.75111 7.76382C7.98758 7.52735 8.12361 7.19934 8.12361 6.86498C8.12361 6.53061 7.98771 6.2026 7.75111 5.96613C7.51464 5.72966 7.18803 5.59363 6.85226 5.59363Z" fill="currentColor" />
                                <path d="M19.1968 5.59363C18.8624 5.59363 18.5344 5.72966 18.2979 5.96613C18.0615 6.2026 17.9254 6.53061 17.9254 6.86498C17.9254 7.19934 18.0613 7.52735 18.2979 7.76382C18.5344 8.00029 18.8624 8.13632 19.1968 8.13632C19.5312 8.13632 19.8592 8.00029 20.0955 7.76382C20.332 7.52735 20.4681 7.19934 20.4681 6.86498C20.4681 6.53061 20.3321 6.2026 20.0955 5.96613C19.8592 5.72966 19.5312 5.59363 19.1968 5.59363Z" fill="currentColor" />
                                <path
                                    d="M63.7038 51.8095L55.3082 43.414C56.3524 41.3476 56.9416 39.014 56.9416 36.545C56.9416 34.1724 56.398 31.9243 55.429 29.9187V1.27131C55.429 0.569164 54.8597 0 54.1577 0H1.27131C0.569292 0 0 0.569164 0 1.27131V47.5469C0 48.2489 0.569292 48.8182 1.27131 48.8182H9.24686C9.94887 48.8182 10.5182 48.2489 10.5182 47.5469C10.5182 46.8449 9.94887 46.2756 9.24686 46.2756H2.54262V13.7301H52.8864V26.1884C50.0922 23.1617 46.0937 21.2627 41.6592 21.2627C33.2326 21.2627 26.377 28.1183 26.377 36.545C26.377 40.2389 27.6944 43.6308 29.884 46.2757H20.6888C19.9867 46.2757 19.4174 46.845 19.4174 47.547C19.4174 48.249 19.9867 48.8183 20.6888 48.8183H32.5639C35.107 50.7079 38.2548 51.8274 41.6592 51.8274C44.117 51.8274 46.4407 51.2434 48.5001 50.208L56.9027 58.6106C57.8294 59.5371 59.0478 60 60.2691 60C61.5019 60 62.7378 59.5285 63.6797 58.5867C65.5549 56.7116 65.5655 53.6714 63.7038 51.8095ZM2.54262 11.1875V2.54261H52.8864V11.1875H2.54262ZM28.9196 36.545C28.9196 29.5204 34.6345 23.8054 41.6592 23.8054C48.684 23.8054 54.399 29.5204 54.399 36.545C54.399 43.5697 48.684 49.2848 41.6592 49.2848C34.6345 49.2848 28.9196 43.5697 28.9196 36.545ZM61.8819 56.7887C60.9984 57.6724 59.5712 57.6833 58.7009 56.8126L50.7268 48.8387C51.9478 47.9358 53.0301 46.8559 53.9352 45.6368L61.9058 53.6074C62.7764 54.4778 62.7656 55.905 61.8819 56.7887Z"
                                    fill="currentColor" />
                                <path d="M10.4247 39.9192H19.511C21.8945 39.9192 23.8335 37.9802 23.8335 35.5967C23.8335 33.2133 21.8945 31.2743 19.511 31.2743H10.4247C8.04128 31.2743 6.10228 33.2133 6.10228 35.5967C6.10228 37.9802 8.04128 39.9192 10.4247 39.9192ZM10.4247 33.8169H19.511C20.4925 33.8169 21.2908 34.6153 21.2908 35.5967C21.2908 36.5782 20.4925 37.3766 19.511 37.3766H10.4247C9.44327 37.3766 8.64489 36.5782 8.64489 35.5967C8.64489 34.6153 9.44327 33.8169 10.4247 33.8169Z" fill="currentColor" />
                                <path d="M8.26096 27.7306H20.3833C21.0853 27.7306 21.6546 27.1615 21.6546 26.4593C21.6546 25.7572 21.0853 25.188 20.3833 25.188H8.26096C7.55894 25.188 6.98965 25.7572 6.98965 26.4593C6.98965 27.1615 7.55894 27.7306 8.26096 27.7306Z" fill="currentColor" />
                                <path d="M8.26096 21.6284H20.6888C21.3908 21.6284 21.9601 21.0592 21.9601 20.3571C21.9601 19.6549 21.3908 19.0858 20.6888 19.0858H8.26096C7.55894 19.0858 6.98965 19.6549 6.98965 20.3571C6.98965 21.0592 7.55894 21.6284 8.26096 21.6284Z" fill="currentColor" />
                                <path d="M30.7233 21.6284C31.4253 21.6284 31.9946 21.0592 31.9946 20.3571C31.9946 19.6549 31.4253 19.0858 30.7233 19.0858H26.8228C26.1208 19.0858 25.5515 19.6549 25.5515 20.3571C25.5515 21.0592 26.1208 21.6284 26.8228 21.6284H30.7233Z" fill="currentColor" />
                                <path d="M50.8393 36.545C50.8393 35.843 50.2701 35.2737 49.568 35.2737H40.9331C40.3889 33.5087 38.7428 32.2226 36.8017 32.2226C34.4182 32.2226 32.4792 34.1616 32.4792 36.545C32.4792 38.9285 34.4182 40.8675 36.8017 40.8675C38.7428 40.8675 40.3889 39.5813 40.9331 37.8163H43.2115V38.8584C43.2115 39.5604 43.7808 40.1297 44.4828 40.1297C45.1848 40.1297 45.7541 39.5604 45.7541 38.8584V37.8163H48.2967V38.2625C48.2967 38.9646 48.866 39.5338 49.568 39.5338C50.2701 39.5338 50.8393 38.9646 50.8393 38.2625V36.545ZM36.8017 38.3248C35.8202 38.3248 35.0219 37.5265 35.0219 36.545C35.0219 35.5636 35.8202 34.7652 36.8017 34.7652C37.7831 34.7652 38.5815 35.5636 38.5815 36.545C38.5815 37.5265 37.7831 38.3248 36.8017 38.3248Z" fill="currentColor" />
                                <path d="M14.967 46.2756C14.6327 46.2756 14.306 46.4115 14.0694 46.6481C13.8317 46.8844 13.6957 47.2125 13.6957 47.5469C13.6957 47.8813 13.8317 48.2093 14.0694 48.4457C14.3046 48.6821 14.6327 48.8183 14.967 48.8183C15.3028 48.8183 15.6308 48.6823 15.8671 48.4457C16.1036 48.2093 16.2398 47.8813 16.2398 47.5469C16.2398 47.2125 16.1037 46.8844 15.8671 46.6481C15.6294 46.4115 15.3028 46.2756 14.967 46.2756Z" fill="currentColor" />
                            </svg>
                        </div>
                        <h3 class="box-title"><a href="#">Historical Cleanup</a></h3>
                        <p class="box-text">Revitalize past records by correcting discrepancies and ensuring data integrity.</p>
                        <br/>
                    </div>
                    <div class="box-img image-anim">
                        <img src="/img/service/service-img-1-3.jpg" alt="img">
                        <!-- <div class="tg-button-wrap">
                            <a href="#" class="btn btn-three">
                                <span class="btn-text" data-text="Read More Details"></span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-card style4">
                    <div class="box-content">
                        <div class="box-icon">
                            <svg width="62" height="60" viewBox="0 0 62 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M39.3394 15.2144C40.9997 15.2144 42.3504 13.8656 42.3504 12.2077C42.3504 10.5498 40.9997 9.20088 39.3394 9.20088C37.679 9.20088 36.3283 10.5498 36.3283 12.2077C36.3283 12.8848 36.5538 13.5102 36.9335 14.0134L31.9862 20.9169C31.691 20.8201 31.376 20.7669 31.0487 20.7669C30.2575 20.7669 29.537 21.0738 28.9991 21.5738L25.7015 19.7053C25.7455 19.5014 25.7691 19.2899 25.7691 19.0731C25.7691 17.4152 24.4183 16.0664 22.758 16.0664C21.0977 16.0664 19.7469 17.4152 19.7469 19.0731C19.7469 19.2899 19.7705 19.5014 19.8145 19.7053L16.5169 21.5738C15.979 21.0738 15.2585 20.7671 14.4673 20.7671C12.807 20.7671 11.4563 22.116 11.4563 23.7739C11.4563 25.4318 12.807 26.7807 14.4673 26.7807C16.1276 26.7807 17.4784 25.4318 17.4784 23.7739C17.4784 23.5571 17.4548 23.3456 17.4108 23.1416L20.7084 21.2732C21.2463 21.7732 21.9668 22.08 22.758 22.08C23.5492 22.08 24.2696 21.7732 24.8076 21.2733L28.1052 23.1418C28.0612 23.3457 28.0376 23.5572 28.0376 23.774C28.0376 25.4319 29.3884 26.7808 31.0487 26.7808C32.7091 26.7808 34.0599 25.4319 34.0599 23.774C34.0599 23.0968 33.8343 22.4713 33.4545 21.9681L38.4018 15.0646C38.6969 15.1612 39.012 15.2144 39.3394 15.2144ZM39.3394 11.0049C40.0035 11.0049 40.5438 11.5444 40.5438 12.2077C40.5438 12.8709 40.0035 13.4104 39.3394 13.4104C38.6752 13.4104 38.1349 12.8709 38.1349 12.2077C38.1348 11.5444 38.6751 11.0049 39.3394 11.0049ZM14.467 24.9765C13.8029 24.9765 13.2625 24.4369 13.2625 23.7737C13.2625 23.1104 13.8029 22.5709 14.467 22.5709C15.1311 22.5709 15.6714 23.1104 15.6714 23.7737C15.6714 24.4369 15.1311 24.9765 14.467 24.9765ZM22.7578 20.2758C22.0936 20.2758 21.5533 19.7363 21.5533 19.073C21.5533 18.4098 22.0936 17.8703 22.7578 17.8703C23.4219 17.8703 23.9622 18.4098 23.9622 19.073C23.9623 19.7363 23.4219 20.2758 22.7578 20.2758ZM31.0486 24.9765C30.3844 24.9765 29.8441 24.4369 29.8441 23.7737C29.8441 23.1104 30.3844 22.5709 31.0486 22.5709C31.7128 22.5709 32.2531 23.1104 32.2531 23.7737C32.2531 24.4369 31.7127 24.9765 31.0486 24.9765Z"
                                    fill="currentColor" />
                                <path
                                    d="M50.4409 44.5482H2.55519C2.14243 44.5482 1.80664 44.2129 1.80664 43.8007V6.58745C1.80664 6.17529 2.14243 5.83998 2.55519 5.83998H6.81356C7.31244 5.83998 7.71688 5.43624 7.71688 4.93797C7.71688 4.4397 7.31244 4.03596 6.81356 4.03596H2.55519C1.14625 4.03596 0 5.18055 0 6.58745V43.8007C0 45.2076 1.14625 46.3522 2.55519 46.3522H8.78364V48.3374C8.78364 49.4682 9.70503 50.3883 10.8376 50.3883H19.8797L15.6232 58.6866C15.3958 59.13 15.5713 59.6735 16.0154 59.9007C16.1471 59.9681 16.2878 60 16.4265 60C16.7547 60 17.0713 59.8208 17.2311 59.5089L21.9095 50.3883H31.8968L36.5752 59.5089C36.7351 59.8208 37.0517 60 37.3799 60C37.5185 60 37.6592 59.9679 37.7909 59.9007C38.235 59.6735 38.4106 59.13 38.1831 58.6866L33.9267 50.3883H42.9688C44.1013 50.3883 45.0227 49.4684 45.0227 48.3374V46.3522H50.4409C50.9398 46.3522 51.3442 45.9485 51.3442 45.4502C51.3442 44.9519 50.9398 44.5482 50.4409 44.5482ZM43.216 48.3374C43.216 48.4735 43.1051 48.5843 42.9688 48.5843H10.8376C10.7012 48.5843 10.5903 48.4735 10.5903 48.3374V46.3522H43.216V48.3374Z"
                                    fill="currentColor" />
                                <path d="M10.4268 5.83998H51.251C51.6638 5.83998 51.9996 6.17529 51.9996 6.58745V15.1639C51.9996 15.6622 52.404 16.0659 52.9029 16.0659C53.4018 16.0659 53.8062 15.6622 53.8062 15.1639V6.58745C53.8062 5.18055 52.66 4.03596 51.251 4.03596H31.9167V2.26297C31.9167 1.01518 30.9001 0 29.6503 0H24.156C22.9064 0 21.8896 1.01518 21.8896 2.26297V4.03596H10.4268C9.92797 4.03596 9.52352 4.4397 9.52352 4.93797C9.52352 5.43624 9.92797 5.83998 10.4268 5.83998ZM23.6963 2.26297C23.6963 2.00992 23.9025 1.80402 24.156 1.80402H29.6503C29.9038 1.80402 30.1101 2.00992 30.1101 2.26297V4.03596H23.6964L23.6963 2.26297Z" fill="currentColor" />
                                <path d="M12.6347 31.3922C12.1358 31.3922 11.7314 31.7959 11.7314 32.2942V40.2646C11.7314 40.7629 12.1358 41.1666 12.6347 41.1666H16.2994C16.7983 41.1666 17.2027 40.7629 17.2027 40.2646V32.2942C17.2027 31.7959 16.7983 31.3922 16.2994 31.3922H12.6347ZM15.3961 39.3627H13.538V33.1963H15.3961V39.3627Z" fill="currentColor" />
                                <path d="M20.9254 26.7825C20.4265 26.7825 20.022 27.1863 20.022 27.6845V40.2647C20.022 40.763 20.4265 41.1667 20.9254 41.1667H24.5901C25.0889 41.1667 25.4934 40.763 25.4934 40.2647V27.6845C25.4934 27.1863 25.0889 26.7825 24.5901 26.7825H20.9254ZM23.6869 39.3627H21.8288V28.5865H23.6869V39.3627Z" fill="currentColor" />
                                <path d="M29.2161 31.3922C28.7173 31.3922 28.3128 31.7959 28.3128 32.2942V40.2646C28.3128 40.7629 28.7173 41.1666 29.2161 41.1666H32.8809C33.3797 41.1666 33.7842 40.7629 33.7842 40.2646V32.2942C33.7842 31.7959 33.3797 31.3922 32.8809 31.3922H29.2161ZM31.9775 39.3627H30.1195V33.1963H31.9775V39.3627Z" fill="currentColor" />
                                <path d="M37.5069 36.7148C37.0081 36.7148 36.6036 37.1185 36.6036 37.6168V40.2647C36.6036 40.763 37.0081 41.1667 37.5069 41.1667H41.1716C41.6705 41.1667 42.075 40.763 42.075 40.2647C42.075 39.7664 41.6705 39.3627 41.1716 39.3627H38.4103V37.6168C38.4103 37.1185 38.0058 36.7148 37.5069 36.7148Z" fill="currentColor" />
                                <path
                                    d="M61.206 45.3966L56.0237 36.4334C57.3366 35.036 58.2927 33.3286 58.8034 31.4255C59.6196 28.3838 59.2007 25.2066 57.6239 22.4794C54.3688 16.8493 47.1337 14.9139 41.4958 18.1641C35.8577 21.4144 33.9192 28.639 37.1743 34.2689C38.7511 36.9961 41.2971 38.9468 44.3433 39.762C45.3605 40.0342 46.3926 40.1687 47.4182 40.1687C48.3145 40.1687 49.2057 40.0658 50.0772 39.862L55.2584 48.8254C55.8935 49.9243 57.05 50.5392 58.2378 50.5391C58.8199 50.5391 59.4096 50.3913 59.949 50.0805C61.0084 49.4699 61.6667 48.3313 61.6667 47.1092C61.6667 46.5104 61.5074 45.9183 61.206 45.3966ZM44.8108 38.0194C42.2308 37.3291 40.0743 35.6767 38.7387 33.3668C35.9818 28.5985 37.6238 22.4795 42.399 19.7264C43.9699 18.8208 45.6866 18.3907 47.3822 18.3907C50.8407 18.3907 54.2092 20.1818 56.0592 23.3815C57.3947 25.6913 57.7495 28.3822 57.0582 30.9586C56.3668 33.535 54.7121 35.6881 52.3988 37.0218C50.0857 38.3555 47.3909 38.7095 44.8108 38.0194ZM59.0461 48.518C58.2688 48.9661 57.2716 48.6994 56.8232 47.9236L51.8383 39.2999C52.3379 39.0963 52.8271 38.8582 53.3024 38.5842C53.778 38.31 54.2285 38.0048 54.655 37.6743L59.6413 46.2983C59.7844 46.5462 59.86 46.8267 59.86 47.1093C59.86 47.6887 59.5481 48.2286 59.0461 48.518Z"
                                    fill="currentColor" />
                                <path
                                    d="M55.5894 30.9153C56.2271 28.864 56.0752 26.6679 55.1617 24.7316C54.949 24.2808 54.4108 24.0877 53.9595 24.2999C53.5081 24.5123 53.3147 25.0497 53.5274 25.5003C54.248 27.0278 54.3676 28.7607 53.864 30.3802C53.3577 32.0087 52.2638 33.3753 50.7839 34.2285C49.2179 35.1314 47.3934 35.371 45.6468 34.9038C43.9002 34.4364 42.4401 33.3178 41.5361 31.7541C39.6696 28.5259 40.7813 24.3834 44.0141 22.5196C46.3778 21.1571 49.3112 21.3392 51.4877 22.9835C51.8856 23.2842 52.4521 23.2059 52.7531 22.8085C53.054 22.4113 52.9756 21.8455 52.5777 21.545C49.8206 19.4618 46.1045 19.2312 43.1107 20.9572C41.1267 22.101 39.7075 23.9478 39.1146 26.1574C38.5217 28.3669 38.826 30.6749 39.9714 32.6559C41.1168 34.6371 42.9664 36.0541 45.1791 36.6463C45.9181 36.844 46.6679 36.9418 47.4129 36.9418C48.8989 36.9418 50.3658 36.5526 51.6871 35.7907C53.5621 34.71 54.9479 32.9786 55.5894 30.9153Z"
                                    fill="currentColor" />
                            </svg>
                        </div>
                        <h3 class="box-title"><a href="#">Business Tax</a></h3>
                        <p class="box-text">Optimize your corporate tax strategy with expert guidance for compliance and savings.</p>
                    </div>
                    <div class="box-img image-anim">
                        <img src="/img/service/service-img-1-1.jpg" alt="img">
                        <!-- <div class="tg-button-wrap">
                            <a href="#" class="btn btn-three">
                                <span class="btn-text" data-text="Read More Details"></span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-card style4">
                    <div class="box-content">
                        <div class="box-icon">
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 1.17188V50.9053C0 51.5524 0.524766 52.0772 1.17188 52.0772H5.53219V55.9921C5.53219 56.6392 6.05695 57.1639 6.70406 57.1639H37.4269C39.7586 58.9422 42.6676 60 45.8196 60C51.3416 60 56.3343 56.7273 58.5387 51.6626C58.797 51.0691 58.5253 50.3787 57.9319 50.1204C57.3387 49.8625 56.648 50.1338 56.3897 50.7272C54.5575 54.9364 50.4086 57.6562 45.8196 57.6562C39.3995 57.6562 34.0993 52.1677 34.3035 45.7576C34.5009 39.632 39.6949 34.6107 45.8198 34.6107C50.3911 34.6107 54.6252 37.4074 56.421 41.6105C56.6753 42.2057 57.3638 42.4816 57.9591 42.2278C58.5543 41.9735 58.8307 41.2848 58.5764 40.6897C57.1775 37.4157 54.6229 34.885 51.5077 33.4853V28.8853H55.8586C56.3161 28.8853 56.7319 28.6191 56.9231 28.2033C57.1145 27.7876 57.0463 27.2986 56.7486 26.951L46.9915 15.5602V6.70289C46.9915 6.05578 46.4667 5.53102 45.8196 5.53102H41.6106V1.17188C41.6106 0.524766 41.0858 0 40.4387 0H1.17188C0.524766 0 0 0.524766 0 1.17188ZM50.3357 26.5417C49.6886 26.5417 49.1638 27.0664 49.1638 27.7136V32.6726C46.9808 32.1313 44.6588 32.1314 42.4758 32.6726V27.7136C42.4758 27.0664 41.951 26.5417 41.3039 26.5417H38.3278L45.8198 17.7953L53.3118 26.5417H50.3357ZM44.6476 15.5607L34.8907 26.9513C34.593 27.2988 34.5248 27.7879 34.7162 28.2035C34.9075 28.6193 35.3232 28.8855 35.7807 28.8855H40.1317V33.4832C35.2208 35.6889 31.9743 40.6971 31.9536 46.0791C31.9412 49.2369 33.0258 52.3597 35.0085 54.8201H7.87594V7.87477H44.6475L44.6476 15.5607ZM2.34375 2.34375H39.2666V5.53102H6.70406C6.05695 5.53102 5.53219 6.05578 5.53219 6.70289V49.7333H2.34375V2.34375Z"
                                    fill="currentColor" />
                                <path d="M31.4893 19.7711H26.7986C26.1514 19.7711 25.6267 20.2958 25.6267 20.9429V25.9939H23.2847V17.5475C23.2847 16.9004 22.7599 16.3757 22.1128 16.3757H17.3053C16.6582 16.3757 16.1334 16.9004 16.1334 17.5475L16.1333 25.9939H13.7577V13.8619C13.7577 13.2148 13.2329 12.69 12.5858 12.69C11.9387 12.69 11.4139 13.2148 11.4139 13.8619V27.1657C11.4139 27.8128 11.9387 28.3376 12.5858 28.3376H31.4895C32.1366 28.3376 32.6613 27.8128 32.6613 27.1657V20.9428C32.6612 20.2957 32.1366 19.7711 31.4893 19.7711ZM18.477 25.9938L18.4771 18.7193H20.9408V25.9938H18.477ZM27.9704 25.9938V22.1147H30.3175V25.9938H27.9704Z" fill="currentColor" />
                                <path d="M30.3122 33.5392H12.5858C11.9387 33.5392 11.4139 34.0639 11.4139 34.7111C11.4139 35.3582 11.9387 35.8829 12.5858 35.8829H30.3122C30.9593 35.8829 31.4841 35.3582 31.4841 34.7111C31.4841 34.0639 30.9593 33.5392 30.3122 33.5392Z" fill="currentColor" />
                                <path d="M27.353 40.2536H12.5858C11.9387 40.2536 11.4139 40.7783 11.4139 41.4254C11.4139 42.0725 11.9387 42.5973 12.5858 42.5973H27.353C28.0001 42.5973 28.5248 42.0725 28.5248 41.4254C28.5248 40.7783 28.0001 40.2536 27.353 40.2536Z" fill="currentColor" />
                                <path d="M26.3786 46.9679H12.5858C11.9387 46.9679 11.4139 47.4927 11.4139 48.1398C11.4139 48.7869 11.9387 49.3117 12.5858 49.3117H26.3786C27.0257 49.3117 27.5504 48.7869 27.5504 48.1398C27.5504 47.4927 27.0258 46.9679 26.3786 46.9679Z" fill="currentColor" />
                                <path
                                    d="M45.8502 54.5293C46.473 54.4889 46.944 53.944 46.944 53.3198V52.742C48.5605 52.3205 49.785 51.0348 50.0771 49.3314C50.4154 47.3597 49.3445 45.5762 47.4125 44.8932C45.9622 44.3807 45.0652 43.9624 44.5036 43.5367C44.1557 43.273 44.1687 42.8733 44.2072 42.6585C44.277 42.2715 44.5711 41.7555 45.1714 41.5747C46.4593 41.1868 47.2939 41.8871 47.3288 41.9173L47.4922 42.0514C48.0033 42.4707 48.7602 42.3825 49.1611 41.8568C49.5293 41.374 49.4659 40.6896 49.0154 40.2825L48.9038 40.1816C48.5327 39.8394 47.8437 39.4171 46.9441 39.2222V38.7863C46.9441 38.1621 46.4732 37.6171 45.8503 37.5768C45.1678 37.5325 44.6004 38.073 44.6004 38.7461V39.3011C44.5653 39.3108 44.5305 39.3199 44.4954 39.3305C43.1654 39.7311 42.147 40.8745 41.9006 42.2434C41.6764 43.4893 42.1202 44.6711 43.088 45.4045C43.8609 45.9903 44.9208 46.4984 46.6316 47.103C47.9 47.5513 47.8215 48.6187 47.7672 48.9352C47.6296 49.7372 46.9594 50.5465 45.7723 50.5465C44.737 50.5465 43.9891 50.3631 43.4865 49.9859C43.0077 49.6266 42.3204 49.6671 41.9112 50.1041C41.4286 50.6193 41.5062 51.4232 42.053 51.8402C42.7351 52.3605 43.5755 52.6833 44.6004 52.8176V53.3599C44.6002 54.033 45.1677 54.5736 45.8502 54.5293Z"
                                    fill="currentColor" />
                                <path d="M58.0655 45.0514C57.6057 45.2428 57.308 45.7212 57.3462 46.2192C57.3837 46.7075 57.7293 47.1309 58.202 47.2616C59.2008 47.5378 60.051 46.4188 59.5198 45.5311C59.2246 45.038 58.595 44.8342 58.0655 45.0514Z" fill="currentColor" />
                            </svg>
                        </div>
                        <h3 class="box-title"><a href="#">Individual Tax</a></h3>
                        <p class="box-text">Maximize your refund and minimize liability with tailored personal tax solutions.</p>
                        <br/>
                    </div>
                    <div class="box-img image-anim">
                        <img src="/img/service/service-img-1-2.jpg" alt="img">
                        <!-- <div class="tg-button-wrap">
                            <a href="#" class="btn btn-three">
                                <span class="btn-text" data-text="Read More Details"></span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-card style4">
                    <div class="box-content">
                        <div class="box-icon">
                            <svg width="66" height="60" viewBox="0 0 66 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M45.7109 5.59375H27.7781C27.0761 5.59375 26.5068 6.16292 26.5068 6.86506C26.5068 7.5672 27.0761 8.13637 27.7781 8.13637H45.7109C46.4129 8.13637 46.9822 7.5672 46.9822 6.86506C46.9822 6.16292 46.4129 5.59375 45.7109 5.59375Z" fill="currentColor" />
                                <path d="M13.0246 5.59363C12.6901 5.59363 12.3622 5.72966 12.1257 5.96613C11.8893 6.2026 11.7532 6.53061 11.7532 6.86498C11.7532 7.20061 11.8891 7.52735 12.1257 7.76382C12.3622 8.00029 12.6901 8.13632 13.0246 8.13632C13.359 8.13632 13.687 8.00029 13.9233 7.76382C14.1598 7.52735 14.2959 7.19934 14.2959 6.86498C14.2959 6.53061 14.1599 6.2026 13.9233 5.96613C13.687 5.72966 13.359 5.59363 13.0246 5.59363Z" fill="currentColor" />
                                <path d="M6.85226 5.59363C6.5179 5.59363 6.18989 5.72966 5.95355 5.96613C5.71708 6.2026 5.58091 6.53061 5.58091 6.86498C5.58091 7.19934 5.71695 7.52735 5.95355 7.76382C6.18989 8.00029 6.5179 8.13632 6.85226 8.13632C7.18803 8.13632 7.51464 8.00029 7.75111 7.76382C7.98758 7.52735 8.12361 7.19934 8.12361 6.86498C8.12361 6.53061 7.98771 6.2026 7.75111 5.96613C7.51464 5.72966 7.18803 5.59363 6.85226 5.59363Z" fill="currentColor" />
                                <path d="M19.1968 5.59363C18.8624 5.59363 18.5344 5.72966 18.2979 5.96613C18.0615 6.2026 17.9254 6.53061 17.9254 6.86498C17.9254 7.19934 18.0613 7.52735 18.2979 7.76382C18.5344 8.00029 18.8624 8.13632 19.1968 8.13632C19.5312 8.13632 19.8592 8.00029 20.0955 7.76382C20.332 7.52735 20.4681 7.19934 20.4681 6.86498C20.4681 6.53061 20.3321 6.2026 20.0955 5.96613C19.8592 5.72966 19.5312 5.59363 19.1968 5.59363Z" fill="currentColor" />
                                <path
                                    d="M63.7038 51.8095L55.3082 43.414C56.3524 41.3476 56.9416 39.014 56.9416 36.545C56.9416 34.1724 56.398 31.9243 55.429 29.9187V1.27131C55.429 0.569164 54.8597 0 54.1577 0H1.27131C0.569292 0 0 0.569164 0 1.27131V47.5469C0 48.2489 0.569292 48.8182 1.27131 48.8182H9.24686C9.94887 48.8182 10.5182 48.2489 10.5182 47.5469C10.5182 46.8449 9.94887 46.2756 9.24686 46.2756H2.54262V13.7301H52.8864V26.1884C50.0922 23.1617 46.0937 21.2627 41.6592 21.2627C33.2326 21.2627 26.377 28.1183 26.377 36.545C26.377 40.2389 27.6944 43.6308 29.884 46.2757H20.6888C19.9867 46.2757 19.4174 46.845 19.4174 47.547C19.4174 48.249 19.9867 48.8183 20.6888 48.8183H32.5639C35.107 50.7079 38.2548 51.8274 41.6592 51.8274C44.117 51.8274 46.4407 51.2434 48.5001 50.208L56.9027 58.6106C57.8294 59.5371 59.0478 60 60.2691 60C61.5019 60 62.7378 59.5285 63.6797 58.5867C65.5549 56.7116 65.5655 53.6714 63.7038 51.8095ZM2.54262 11.1875V2.54261H52.8864V11.1875H2.54262ZM28.9196 36.545C28.9196 29.5204 34.6345 23.8054 41.6592 23.8054C48.684 23.8054 54.399 29.5204 54.399 36.545C54.399 43.5697 48.684 49.2848 41.6592 49.2848C34.6345 49.2848 28.9196 43.5697 28.9196 36.545ZM61.8819 56.7887C60.9984 57.6724 59.5712 57.6833 58.7009 56.8126L50.7268 48.8387C51.9478 47.9358 53.0301 46.8559 53.9352 45.6368L61.9058 53.6074C62.7764 54.4778 62.7656 55.905 61.8819 56.7887Z"
                                    fill="currentColor" />
                                <path d="M10.4247 39.9192H19.511C21.8945 39.9192 23.8335 37.9802 23.8335 35.5967C23.8335 33.2133 21.8945 31.2743 19.511 31.2743H10.4247C8.04128 31.2743 6.10228 33.2133 6.10228 35.5967C6.10228 37.9802 8.04128 39.9192 10.4247 39.9192ZM10.4247 33.8169H19.511C20.4925 33.8169 21.2908 34.6153 21.2908 35.5967C21.2908 36.5782 20.4925 37.3766 19.511 37.3766H10.4247C9.44327 37.3766 8.64489 36.5782 8.64489 35.5967C8.64489 34.6153 9.44327 33.8169 10.4247 33.8169Z" fill="currentColor" />
                                <path d="M8.26096 27.7306H20.3833C21.0853 27.7306 21.6546 27.1615 21.6546 26.4593C21.6546 25.7572 21.0853 25.188 20.3833 25.188H8.26096C7.55894 25.188 6.98965 25.7572 6.98965 26.4593C6.98965 27.1615 7.55894 27.7306 8.26096 27.7306Z" fill="currentColor" />
                                <path d="M8.26096 21.6284H20.6888C21.3908 21.6284 21.9601 21.0592 21.9601 20.3571C21.9601 19.6549 21.3908 19.0858 20.6888 19.0858H8.26096C7.55894 19.0858 6.98965 19.6549 6.98965 20.3571C6.98965 21.0592 7.55894 21.6284 8.26096 21.6284Z" fill="currentColor" />
                                <path d="M30.7233 21.6284C31.4253 21.6284 31.9946 21.0592 31.9946 20.3571C31.9946 19.6549 31.4253 19.0858 30.7233 19.0858H26.8228C26.1208 19.0858 25.5515 19.6549 25.5515 20.3571C25.5515 21.0592 26.1208 21.6284 26.8228 21.6284H30.7233Z" fill="currentColor" />
                                <path d="M50.8393 36.545C50.8393 35.843 50.2701 35.2737 49.568 35.2737H40.9331C40.3889 33.5087 38.7428 32.2226 36.8017 32.2226C34.4182 32.2226 32.4792 34.1616 32.4792 36.545C32.4792 38.9285 34.4182 40.8675 36.8017 40.8675C38.7428 40.8675 40.3889 39.5813 40.9331 37.8163H43.2115V38.8584C43.2115 39.5604 43.7808 40.1297 44.4828 40.1297C45.1848 40.1297 45.7541 39.5604 45.7541 38.8584V37.8163H48.2967V38.2625C48.2967 38.9646 48.866 39.5338 49.568 39.5338C50.2701 39.5338 50.8393 38.9646 50.8393 38.2625V36.545ZM36.8017 38.3248C35.8202 38.3248 35.0219 37.5265 35.0219 36.545C35.0219 35.5636 35.8202 34.7652 36.8017 34.7652C37.7831 34.7652 38.5815 35.5636 38.5815 36.545C38.5815 37.5265 37.7831 38.3248 36.8017 38.3248Z" fill="currentColor" />
                                <path d="M14.967 46.2756C14.6327 46.2756 14.306 46.4115 14.0694 46.6481C13.8317 46.8844 13.6957 47.2125 13.6957 47.5469C13.6957 47.8813 13.8317 48.2093 14.0694 48.4457C14.3046 48.6821 14.6327 48.8183 14.967 48.8183C15.3028 48.8183 15.6308 48.6823 15.8671 48.4457C16.1036 48.2093 16.2398 47.8813 16.2398 47.5469C16.2398 47.2125 16.1037 46.8844 15.8671 46.6481C15.6294 46.4115 15.3028 46.2756 14.967 46.2756Z" fill="currentColor" />
                            </svg>
                        </div>
                        <h3 class="box-title"><a href="#">Multi State Tax</a></h3>
                        <p class="box-text">Navigate the complexities of multi-state taxation with specialized, comprehensive support.</p>
                    </div>
                    <div class="box-img image-anim">
                        <img src="/img/service/service-img-1-3.jpg" alt="img">
                        <!-- <div class="tg-button-wrap">
                            <a href="#" class="btn btn-three">
                                <span class="btn-text" data-text="Read More Details"></span>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>


</MainLayout>