<footer>
    <div class="footer__area footer__area-one  black1-bg">
        <div class="footer__bg-shape1-1"><img src="/img/bg/footer-bg-shape1-1.png" alt="img"></div>
        <div class="container">
            <div class="footer__top fix">
                <div class="row gy-40 justify-content-between align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <h3 class="footer__top-title">
                            Let's Talk
                        </h3>
                    </div>
                    <div class="col-auto">
                        <a href="/contact" class="btn btn-three">
                            <span class="btn-text" data-text="Connect with us"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__middle">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer__widget footer__about">
                            <div class="footer__logo">
                                <a href="/"><img src="/img/logo/IgnitaxLogo-white.png" alt="logo"></a>
                            </div>
                            <p class="footer__content mb-35">
                                Simple Tax Solutions, Secure Financial Futures.
                            </p>
                            <div class="social-links">
                                <ul class="list-wrap">
                                    <li><a href="https://www.facebook.com/share/1EnbHrWBgR/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                    <li><a href="https://www.linkedin.com/company/91384526/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.instagram.com/ignitax_" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://youtube.com/@ea_yash_shah?si=KZ5v5hCSE8IQX27g" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-auto col-md-6">
                        <div class="footer__widget footer__links">
                            <h4 class="footer__widget-title">Quick Links</h4>
                            <ul class="list-wrap">
                                <li>
                                    <a href="/">
                                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 1L15 7M15 7L9 13M15 7H0" stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 1L15 7M15 7L9 13M15 7H0" stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="/services">
                                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 1L15 7M15 7L9 13M15 7H0" stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                        Services
                                    </a>
                                </li>
                                <li>
                                    <a href="/articles">
                                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 1L15 7M15 7L9 13M15 7H0" stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                        Articles
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact">
                                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 1L15 7M15 7L9 13M15 7H0" stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                        Contact
                                    </a>
                                </li>
                                <li>
                                    <a href="/tax-organizer">
                                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 1L15 7M15 7L9 13M15 7H0" stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                        Download Tax Organizer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-auto col-md-6">
                        <div class="footer__widget footer__contact">
                            <h4 class="footer__widget-title">Office Inforamtion</h4>
                            <div class="footer__info-item">
                                <div class="footer__info-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="footer__info-content">
                                    <h4 class="title">Call Us 24/7</h4>
                                    <a href="tel:+918000315213">(+91) 80003 15213</a>
                                </div>
                            </div>
                            <div class="footer__info-item">
                                <div class="footer__info-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="footer__info-content">
                                    <h4 class="title">Work with us</h4>
                                    <a href="mailto:ignitax@gmail.com">ignitax@gmail.com</a>
                                </div>
                            </div>
                            <div class="footer__info-item">
                                <div class="footer__info-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="footer__info-content">
                                    <h4 class="title">Our Location</h4>
                                    <p>Vasna, Ahmedabad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-auto col-md-6">
                        <div class="footer__widget footer__insta-feed-list">
                            <h4 class="footer__widget-title">Instagram Posts</h4>
                            <ul class="list-wrap">
                                <li>
                                    <div class="insta-thumb">
                                        <img src="/img/widget/ins_post01.jpg" alt="Image">
                                        <a href="#" class="icon-btn"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="insta-thumb">
                                        <img src="/img/widget/ins_post02.jpg" alt="Image">
                                        <a href="#" class="icon-btn"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="insta-thumb">
                                        <img src="/img/widget/ins_post03.jpg" alt="Image">
                                        <a href="#" class="icon-btn"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="insta-thumb">
                                        <img src="/img/widget/ins_post04.jpg" alt="Image">
                                        <a href="#" class="icon-btn"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="insta-thumb">
                                        <img src="/img/widget/ins_post05.jpg" alt="Image">
                                        <a href="#" class="icon-btn"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="insta-thumb">
                                        <img src="/img/widget/ins_post06.jpg" alt="Image">
                                        <a href="#" class="icon-btn"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom text-center">
            <div class="container">
                <div class="footer__copyright">
                    Copyright 2025. All rights reserved | <a href="https://www.uncoredigital.com" target="_blank">Uncore Digital</a>
                </div>
            </div>
        </div>
    </div>
</footer>