---
const navItems = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
  { name: "Services", href: "/services" },
  { name: "Articles", href: "/articles" },
  { name: "Contact", href: "/contact" },
  { name: "Download Tax Organizer", href: "/tax-organizer" }
];

const currentPath = Astro.url.pathname;
---

<header>
  <div id="header-fixed-height"></div>
  <div class="tg-header__top">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-8">
          <ul class="tg-header__top-info left-side list-wrap">
            <li>
              <i class="far fa-envelope"></i>
              <a href="mailto:ignitax@gmail.com">ignitax@gmail.com</a>
            </li>
            <li>
              <i class="far fa-clock"></i>
              Working: 8.00am - 5.00pm
            </li>
          </ul>
        </div>
        <div class="col-xl-6 col-md-4">
          <ul class="tg-header__top-right list-wrap">
            
            <li class="tg-header__top-social">
              <ul class="list-wrap">
                <li>
                  <a href="https://www.facebook.com/share/1EnbHrWBgR/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                
                <li>
                  <a href="https://www.linkedin.com/company/91384526/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/ignitax_" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="sticky-header" class="tg-header__area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tgmenu__wrap">
            <nav class="tgmenu__nav">
              <div class="logo">
                <a href="/"><img src="/img/logo/IgnitaxLogo.png" alt="Logo"></a>
              </div>
              <!-- Desktop Navigation -->
              <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex">
                <ul class="navigation">
                  {navItems.map(item => (
                    <li class={currentPath === item.href ? "active" : ""}>
                      <a href={item.href}>{item.name}</a>
                    </li>
                  ))}
                </ul>
              </div>
              <div class="tgmenu__action d-none d-md-block">
                <ul class="list-wrap">
                  <li class="offCanvas-menu">
                    <a href="appointment.html" class="btn">
                      <span class="btn-text" data-text="Make An Appointment"></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mobile-nav-toggler d-lg-none d-inline-flex">
                <a href="javascript:void(0)" class="sidebar-btn">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="tgmobile__menu">
    <nav class="tgmobile__menu-box">
      <div class="close-btn"><i class="fas fa-times"></i></div>
      <div class="nav-logo">
        <a href="/"><img src="/img/logo/IgnitaxLogo.png" alt="Logo"></a>
      </div>
      <div class="tgmobile__menu-outer">
        <!-- 
          The navigation menu here is auto-injected by JavaScript.
          Remove the manual navigation list mapping to prevent duplicates.
          
          If you prefer to render it manually, comment out the auto-injection code in your JS.
          
          Example of manual mapping (commented out):
          
          <ul class="navigation">
            {navItems.map(item => (
              <li class={currentPath === item.href ? "active" : ""}>
                <a href={item.href}>{item.name}</a>
              </li>
            ))}
          </ul>
        -->
      </div>
      <div class="tgmobile__menu-bottom">
        <div class="contact-info">
          <ul class="list-wrap">
            <li>Mail: <a href="mailto:ignitax@gmail.com">ignitax@gmail.com</a></li>
            <li>Working: 8.00am - 5.00pm</li>
          </ul>
        </div>
        <div class="social-links">
          <ul class="list-wrap">
            <li><a href="https://www.facebook.com/share/1EnbHrWBgR/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            
            <li><a href="https://www.linkedin.com/company/91384526/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.instagram.com/ignitax_" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://youtube.com/@ea_yash_shah?si=KZ5v5hCSE8IQX27g" target="_blank"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="tgmobile__menu-backdrop"></div>
  <!-- End Mobile Menu -->
</header>
