---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    

    <!-- CSS Assets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="white-bg">
	
    <slot />

    <!-- JS Assets -->
    <script is:inline src="/js/vendor/jquery-3.7.1.min.js"></script>
    <script is:inline src="/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/js/jquery.magnific-popup.min.js"></script>
    <script is:inline src="/js/swiper-bundle.min.js"></script>
    <script is:inline src="/js/ajax-form.js"></script>
    <script is:inline src="/js/wow.min.js"></script>
    <script is:inline src="/js/aos.js"></script>
    <script is:inline src="/js/jquery.datetimepicker.min.js"></script>
    <script is:inline src="/js/gsap.min.js"></script>
    <script is:inline src="/js/ScrollTrigger.min.js"></script>
    <script is:inline src="/js/SplitText.min.js"></script>
    <script is:inline src="/js/jquery.counterup.min.js"></script>
    <script is:inline src="/js/imagesloaded.pkgd.min.js"></script>
    <script is:inline src="/js/isotope.pkgd.min.js"></script>
    <script is:inline src="/js/main.js"></script>
  </body>
</html>


